In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [11]:
df=pd.read_csv('winequality-white.csv')
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [12]:
df.shape

(4898, 12)

In [13]:
# last two digit of my id is 22
# for better calculation i used X=0.22

X=0.22

xtra = {
        'fixed acidity': [7.8+X,7.2+X,7.9+X,7.7+X], 
        'volatile acidity': [.88+X,.83+X,.89+X,.86+X],
        'citric acid': [0.00+X,0.01+X,0.01+X,0.02+X],
        'residual sugar':[1.9,2.2,1.7,2.3],
        'chlorides':[0.09+X,0.19+X,0.08+X,0.07+X],
        'free sulfur dioxide':[25.0+X,15.0+X,22.0+X,11.0+X],
        'total sulfur dioxide': [67.0+X,60.0+X,57.0+X,38.0+X],
        'density': [.991+X,.996+X,.997+X,.994+X],
        'pH': [3.22,3.52,3.26,3.12],
        'sulphates': [0.68+X,0.55+X,0.64+X,0.08+X],
        'alcohol': [9.8+X,9.6+X,9.8+X,9.4+X],
        'quality': [5,6,2,3]
        
        }
xtra_df=pd.DataFrame(xtra)
#df=df+xtra_df
xtra_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,8.02,1.10,0.22,1.9,0.31,25.22,67.22,1.211,3.22,0.90,10.02,5
1,7.42,1.05,0.23,2.2,0.41,15.22,60.22,1.216,3.52,0.77,9.82,6
2,8.12,1.11,0.23,1.7,0.30,22.22,57.22,1.217,3.26,0.86,10.02,2
3,7.92,1.08,0.24,2.3,0.29,11.22,38.22,1.214,3.12,0.30,9.62,3

In [14]:
# Concatenate along rows (axis=0)
new_df = pd.concat([df, xtra_df], ignore_index=True)

In [15]:
new_df.shape

(4902, 12)